OLD NOTEBOOK: SEE osm_pbf_power_data_extractor.py which does everything.

In [1]:
import os, sys, time
#IMPORTANT: RUN SCRIPT FROM THIS SCRIPTS DIRECTORY i.e data_exploration/ TODO: make more robust
##os.chdir(os.path.dirname(os.path.abspath(__file__)))
sys.path.append('../../scripts')
from iso_country_codes import AFRICA_CC



import pandas as pd
import numpy as np
import geopandas as gpd
from shapely.geometry import Point, LineString
import geoplot
import matplotlib.pyplot as plt
from iso_country_codes import AFRICA_CC
from osm_pbf_power_data_extractor import convert_pd_to_gdf_lines, convert_pd_to_gdf

import logging
logger = logging.getLogger(__name__)

# SUBSTATIONS

In [2]:
#----------- SUBSTATIONS -----------
# Load uncleaned data
df_all_substations = pd.read_csv(os.getcwd()+"/data/africa_all_substations.csv")
# Clean
df_all_substations = df_all_substations.reset_index(drop=True)
df_all_substations = df_all_substations.dropna(subset=['tags.voltage']) # Drop any substations with Voltage = N/A

#~ Generate Files

#CSV
# outputfile_partial = os.path.join(os.getcwd(),'data','africa_all'+'_substations'+'_cleaned.')
# df_all_substations.to_csv(outputfile_partial + 'csv') # Generate CSV

#GeoJSON
##gdf_substations = convert_pd_to_gdf(df_all_substations)
##gdf_substations.to_file(outputfile_partial+'geojson', driver="GeoJSON")  # Generate GeoJson


#display(df_all_substations)

# LINES

### Check old unique values

In [6]:
# Load pypsa-eur data
df_all_lines = (pd.read_csv(os.getcwd()+"/entsoegridkit/lines.csv", quotechar="'", true_values='t', false_values='f',
                         dtype=dict(line_id='str', bus0='str', bus1='str',
                                    underground="bool", under_construction="bool")).set_index('line_id').rename(columns=dict(voltage='v_nom', circuits='num_parallel')))

#print(df_all_lines.geometry.unique())
display(df_all_lines)

,bus0,bus1,v_nom,num_parallel,length,underground,under_construction,tags,geometry
line_id,,,,,,,,,
6568,33,34,132,1,25687.871153,False,False,"""MW""=>""0.0"", ""TSO""=>"" "", ""oid""=>""51000"", ""EIC_...","LINESTRING(32.2819899090672 26.2326704525422,3..."
11675,31,34,132,1,88419.785937,False,False,NaN,"LINESTRING(32.3037477094187 26.0016233689967,3..."
6571,37,40,132,1,26394.698842,False,False,"""MW""=>""0.0"", ""TSO""=>"" "", ""oid""=>""51003"", ""EIC_...","LINESTRING(32.6501207538248 26.344729862945,32..."
6569,34,40,132,1,43972.508007,False,False,"""MW""=>""0.0"", ""TSO""=>"" "", ""oid""=>""51001"", ""EIC_...","LINESTRING(32.7250972033021 26.1158696376196,3..."
6570,40,42,132,1,23509.128839,False,False,"""MW""=>""0.0"", ""TSO""=>"" "", ""oid""=>""51002"", ""EIC_...","LINESTRING(32.7259342990352 26.1158221410256,3..."
...,...,...,...,...,...,...,...,...,...
12574,6885,8002,750,1,149251.722487,False,False,NaN,"LINESTRING(30.8701295047876 47.1281577300625,3..."
11495,3065,8002,750,1,49796.609048,False,True,NaN,"LINESTRING(30.2608839547144 47.295882632508,30..."
12573,8002,8424,750,1,90661.434110,False,False,NaN,"LINESTRING(29.956055 46.6076264806737,29.95971..."
14535,3073,8559,750,1,156572.904727,False,False,NaN,"LINESTRING(28.4426633980495 45.235328255996,28..."
5596,8424,8559,750,1,40583.231891,False,False,"""MW""=>""None"", ""TSO""=>""None"", ""oid""=>""32495"", ""...","LINESTRING(29.6253205 46.3554585082141,29.6177..."

# Import data and create final dataframe layout

In [135]:
# Load raw data
df_all_lines = gpd.read_file(os.getcwd()+"/data/africa_all_lines.geojson") 

# Modification - create final dataframe layout
df_all_lines = df_all_lines.rename(
    columns = {
        "id": "line_id",
        "tags.voltage": "voltage",
        "tags.circuits": "circuits",
        "tags.cables": "cables",
        "tags.frequency": "tag_frequency",
        "tags.power": "tag_type",
        "lonlat": "geometry",
        "Country": "country",  # new/different to PyPSA-Eur
    }
)

# Add NaN as default
df_all_lines["bus0"] = np.nan
df_all_lines["bus1"] = np.nan
df_all_lines["length"] = np.nan
df_all_lines["underground"] = np.nan
df_all_lines["under_construction"] = np.nan

#Rearrange columns
clist = ["line_id","bus0","bus1","voltage","circuits","length","underground",
         "under_construction","tag_type","tag_frequency","geometry", "country"]
df_all_lines = df_all_lines[clist]

#display(df_all_lines)

### Clean voltage

In [136]:
# Drop any row with Voltage = N/A
df = df_all_lines.dropna(subset=['voltage']) 

#Split semicolon separated cells i.e. [66000;220000] and create new identical rows
lst_col = 'voltage'
x = df.assign(**{lst_col:df[lst_col].str.split(';')})
x = pd.DataFrame({
    col:np.repeat(x[col].values, x[lst_col].str.len())
    for col in x.columns.difference([lst_col])
    }).assign(**{lst_col:np.concatenate(x[lst_col].values)})[x.columns.tolist()]
df_all_lines = x

#display(df_all_lines)

In [137]:
# Create unique line_id's
# The steps below create unique line_id's without loosing the original OSM line_id 

# Context
# The previous duplication of rows (to split the voltage) lead to a couple of same line_id (about 30% of dataset)

# Method
# Unique line_id are created by simply adding -1,-2,-3 to the original line_id
# Every unique id gets a -1 
# If a line_id exist i.e. three times it it will the counted by cumcount -1,-2,-3 making the id unique

if df_all_lines["line_id"].count() != df_all_lines["line_id"].nunique(): # operate only if line_id is not already unique (nunique counts unique values)
    df_all_lines["cumcount"] = df_all_lines.groupby(["line_id"]).cumcount() # create cumcount column. Cumcount counts 0,1,2,3 the number of duplicates
    df_all_lines["cumcount"] = df_all_lines["cumcount"] + 1 # avoid 0 value for better understanding
    df_all_lines["line_id"] = df_all_lines["line_id"].values + "-" + df_all_lines["cumcount"].values.astype(str) # add cumcount to line_id to make line_id unique
    df_all_lines.drop(columns = "cumcount", inplace=True) # remove cumcount column

#display(df_all_lines)

In [138]:
# Remove all non-numeric values

df_all_lines['voltage'] = df_all_lines['voltage'].apply(lambda x: pd.to_numeric(x, errors='coerce')) # if cell can't converted to float -> nan
df_all_lines = df_all_lines.dropna(subset=['voltage']) # Drop any row with Voltage = N/A

In [148]:
# Keep rows with x > 110 kV as it is considered as transmission level

df_all_lines = df_all_lines[df_all_lines.voltage > 110000]

,line_id,bus0,bus1,voltage,circuits,length,underground,under_construction,tag_type,tag_frequency,geometry,country
1,655094635-1,NaN,NaN,220000.0,None,NaN,NaN,NaN,line,50,"LINESTRING (-0.47397 35.72051, -0.47585 35.721...",algeria
3,382460532-1,NaN,NaN,400000.0,None,NaN,NaN,NaN,line,None,"LINESTRING (2.07982 36.57460, 2.07938 36.57236...",algeria
4,380786702-1,NaN,NaN,400000.0,2,NaN,NaN,NaN,line,50,"LINESTRING (-1.37598 35.23809, -1.38506 35.236...",algeria
6,685707387-1,NaN,NaN,220000.0,None,NaN,NaN,NaN,line,None,"LINESTRING (2.84789 36.53357, 2.84794 36.53362...",algeria
9,323684192-1,NaN,NaN,220000.0,1,NaN,NaN,NaN,line,50,"LINESTRING (-0.90042 35.08773, -0.90056 35.088...",algeria
...,...,...,...,...,...,...,...,...,...,...,...,...
15058,651546006-1,NaN,NaN,330000.0,None,NaN,NaN,NaN,line,50,"LINESTRING (31.37627 -17.30964, 31.37637 -17.3...",zimbabwe
15059,651760976-1,NaN,NaN,132000.0,None,NaN,NaN,NaN,line,50,"LINESTRING (29.77979 -18.75640, 29.78005 -18.7...",zimbabwe
15060,200790530-1,NaN,NaN,330000.0,None,NaN,NaN,NaN,line,None,"LINESTRING (31.19731 -18.06076, 31.19709 -18.0...",zimbabwe
15061,651760977-1,NaN,NaN,132000.0,None,NaN,NaN,NaN,line,50,"LINESTRING (29.83323 -18.90983, 29.83308 -18.9...",zimbabwe
15062,240036677-1,NaN,NaN,132000.0,None,NaN,NaN,NaN,line,50,"LINESTRING (31.00920 -17.87368, 31.00900 -17.8...",zimbabwe

In [150]:
display(df_all_lines)

,line_id,bus0,bus1,voltage,circuits,length,underground,under_construction,tag_type,tag_frequency,geometry,country
1,655094635-1,NaN,NaN,220000.0,None,NaN,NaN,NaN,line,50,"LINESTRING (-0.47397 35.72051, -0.47585 35.721...",algeria
3,382460532-1,NaN,NaN,400000.0,None,NaN,NaN,NaN,line,None,"LINESTRING (2.07982 36.57460, 2.07938 36.57236...",algeria
4,380786702-1,NaN,NaN,400000.0,2,NaN,NaN,NaN,line,50,"LINESTRING (-1.37598 35.23809, -1.38506 35.236...",algeria
6,685707387-1,NaN,NaN,220000.0,None,NaN,NaN,NaN,line,None,"LINESTRING (2.84789 36.53357, 2.84794 36.53362...",algeria
9,323684192-1,NaN,NaN,220000.0,1,NaN,NaN,NaN,line,50,"LINESTRING (-0.90042 35.08773, -0.90056 35.088...",algeria
...,...,...,...,...,...,...,...,...,...,...,...,...
15058,651546006-1,NaN,NaN,330000.0,None,NaN,NaN,NaN,line,50,"LINESTRING (31.37627 -17.30964, 31.37637 -17.3...",zimbabwe
15059,651760976-1,NaN,NaN,132000.0,None,NaN,NaN,NaN,line,50,"LINESTRING (29.77979 -18.75640, 29.78005 -18.7...",zimbabwe
15060,200790530-1,NaN,NaN,330000.0,None,NaN,NaN,NaN,line,None,"LINESTRING (31.19731 -18.06076, 31.19709 -18.0...",zimbabwe
15061,651760977-1,NaN,NaN,132000.0,None,NaN,NaN,NaN,line,50,"LINESTRING (29.83323 -18.90983, 29.83308 -18.9...",zimbabwe
15062,240036677-1,NaN,NaN,132000.0,None,NaN,NaN,NaN,line,50,"LINESTRING (31.00920 -17.87368, 31.00900 -17.8...",zimbabwe

In [ ]:
## Generate Files
## CSV
# outputfile_partial = os.path.join(os.getcwd(), 'data', 'africa_all'+'_lines'+'_cleaned.')  
# df_all_lines.to_csv(outputfile_partial + 'csv')  # Generate CSV
## GeoJSON
# gdf_lines = convert_pd_to_gdf_lines(df_all_lines, simplified=True)
# gdf_lines.to_file(outputfile_partial+'geojson',
#             driver="GeoJSON")  # Generate GeoJson

# GENERATORS

In [72]:
# ----------- Generator -----------

#Load uncleaned data
df_all_generators = pd.read_csv(os.getcwd()+"/data/africa_all_generators.csv")

#Clean data
df_all_generators = df_all_generators.reset_index(drop=True)
df_all_generators = df_all_generators[df_all_generators['tags.generator:output:electricity'].astype(str).str.contains('MW')] #removes boolean 
df_all_generators['tags.generator:output:electricity'] = df_all_generators['tags.generator:output:electricity'].str.extract('(\d+)').astype(float)
df_all_generators = df_all_generators.rename(columns = {'tags.generator:output:electricity':"power_output_MW"})


## Generate Files

#CSV
#outputfile_partial = os.path.join(os.getcwd(),'data','africa_all'+'_generators'+'_cleaned.')
#df_all_generators.to_csv(outputfile_partial + 'csv') # Generate CSV

#GeoJSON
# gdf_generators = convert_pd_to_gdf(df_all_generators)
# gdf_generators.to_file(outputfile_partial+'geojson', driver="GeoJSON")  # Generate GeoJson


#display(df_all_generators)