In [1]:
#Requires to have geopandas installed
#Installation https://geopandas.org/getting_started/install.html

import matplotlib.pyplot as plt 
import geopandas as gpd
import geoplot
import pandas as pd
import fiona #;help(fiona.open)
import requests
from pandas import json_normalize
import requests # convert json into dataframe
#For OSM 
import pyrosm
import numpy as np
from pyrosm import OSM, get_data

# Africa shape data

In [2]:
world = gpd.read_file(gpd.datasets.get_path('naturalearth_lowres'))
#world

In [3]:
saudi = world.query('name == "Saudi Arabia"')
yemen = world.query('name == "Yemen"')
iraq = world.query('name == "Iraq"')
oman = world.query('name == "Oman"')
uae = world.query('name == "United Arab Emirates"')
jordan = world.query('name == "Jordan"')
palestine = world.query('name == "Palestine"')
israel = world.query('name == "Israel"')
qatar = world.query('name == "Qatar"')
kuwait = world.query('name == "Kuwait"')

mena = saudi.append(yemen).append(iraq).append(oman).append(uae).append(jordan).append(palestine).append(israel).append(qatar).append(kuwait)

In [4]:
africa = world.query('continent == "Africa"').append(mena)
#africa.head()

In [5]:
#africa.plot()

In [ ]:
nigeriaplot = world.query('name == "Nigeria"')

# Power data

In [6]:
import os
import sys

In [25]:
pathg = os.path.realpath("data")+'/africa_all_generators.geojson'
paths = os.path.realpath("data")+'/africa_all_substations.geojson'
pathl = os.path.realpath("data")+'/africa_all_lines.geojson'

generators = gpd.read_file(pathg)
points = gpd.read_file(paths)
lines = gpd.read_file(pathl)

In [27]:
points

,id,tags.power,tags.substation,Type,tags.voltage,tags.name,tags.location,Country,geometry
0,414657349.0,substation,None,Way,66000,None,None,algeria,POINT (7.10330 35.84595)
1,384980469.0,substation,distribution,Way,66000,None,None,algeria,POINT (6.50579 36.25577)
2,695874654.0,substation,industrial,Way,66000,None,None,algeria,POINT (8.58913 31.78098)
3,226673305.0,substation,transmission,Way,400000,None,outdoor,algeria,POINT (3.59359 36.71603)
4,694000747.0,substation,transmission,Way,400000;220000,None,None,algeria,POINT (6.30576 35.49243)
...,...,...,...,...,...,...,...,...,...
2930,675773526.0,substation,transmission,Way,330000;132000,Tokwe Substation,outdoor,zimbabwe,POINT (30.44495 -20.07736)
2931,651771592.0,substation,transmission,Way,132000,None,outdoor,zimbabwe,POINT (31.60690 -18.15105)
2932,665698747.0,substation,transmission,Way,132000,None,outdoor,zimbabwe,POINT (29.88270 -18.62046)
2933,388158569.0,substation,transmission,Way,132000,None,outdoor,zimbabwe,POINT (32.71071 -18.29523)
2934,678605405.0,substation,transmission,Way,132000,None,outdoor,zimbabwe,POINT (30.16002 -16.90015)

In [28]:
offset = 0.001
bbox = points.bounds + [-offset, -offset, offset, offset]
hits = bbox.apply(lambda row: list(lines.sindex.intersection(row)), axis=1)

In [29]:
bbox

           minx       miny       maxx       maxy
0      7.102302  35.844952   7.104302  35.846952
1      6.504790  36.254772   6.506790  36.256772
2      8.588131  31.779975   8.590131  31.781975
3      3.592586  36.715026   3.594586  36.717026
4      6.304758  35.491435   6.306758  35.493435
...         ...        ...        ...        ...
2930  30.443950 -20.078360  30.445950 -20.076360
2931  31.605897 -18.152054  31.607897 -18.150054
2932  29.881698 -18.621463  29.883698 -18.619463
2933  32.709714 -18.296230  32.711714 -18.294230
2934  30.159021 -16.901151  30.161021 -16.899151

[2935 rows x 4 columns]

In [30]:
lines

,id,tags.power,tags.cables,tags.voltage,tags.wires,tags.frequency,tags.circuits,tags.operator,tags.line,tags.source,Type,Country,geometry
0,217933340,line,3,220000,None,None,None,None,None,None,Way,algeria,"LINESTRING (6.02132 31.76176, 6.01900 31.76418..."
1,379084622,line,None,None,None,None,None,None,None,None,Way,algeria,"LINESTRING (3.98331 36.73061, 3.98355 36.72687..."
2,217930451,line,3,220000,None,None,None,None,None,None,Way,algeria,"LINESTRING (6.05928 31.78705, 6.05902 31.78666..."
3,226923216,line,3,220000,None,None,None,None,None,None,Way,algeria,"LINESTRING (-0.04353 28.42990, -0.04319 28.429..."
4,382497408,line,3,60000,None,None,None,None,None,None,Way,algeria,"LINESTRING (3.14027 36.59825, 3.13935 36.59969..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...
21349,490949513,line,None,None,None,None,None,None,None,None,Way,zimbabwe,"LINESTRING (31.74113 -16.93072, 31.74507 -16.9..."
21350,240033786,line,3,132000,None,50,None,None,None,Bing,Way,zimbabwe,"LINESTRING (30.94045 -17.78308, 30.93996 -17.7..."
21351,179121072,line,3,330000,None,None,None,None,None,None,Way,zimbabwe,"LINESTRING (28.75848 -16.51714, 28.75887 -16.5..."
21352,740677131,line,1,330000,None,None,None,None,None,None,Way,zimbabwe,"LINESTRING (28.50503 -20.23918, 28.50480 -20.2..."
21353,657356996,line,3,132000,None,50,None,None,None,None,Way,zimbabwe,"LINESTRING (30.00995 -17.40930, 30.01032 -17.4..."

In [31]:
display(hits)

0                                 [1548, 1199, 1560, 344]
1                  [855, 1494, 1382, 259, 562, 1200, 403]
2                                                   [260]
3       [15, 1834, 751, 1653, 1826, 1089, 991, 1008, 1...
4                             [1804, 743, 1362, 225, 508]
                              ...
2930                  [21318, 21121, 21153, 21196, 21259]
2931                                [21278, 21348, 21070]
2932           [21283, 21253, 21271, 21245, 21197, 21301]
2933                                 [9578, 21232, 21293]
2934                                              [21181]
Length: 2935, dtype: object

In [39]:
tmp = pd.DataFrame({
    # index of points table
    "pt_idx": np.repeat(hits.index, hits.apply(len)),
    # ordinal position of line - access via iloc later
    "line_i": np.concatenate(hits.values)
})

In [40]:
tmp

       pt_idx   line_i
0           0   1548.0
1           0   1199.0
2           0   1560.0
3           0    344.0
4           1    855.0
...       ...      ...
17809    2932  21301.0
17810    2933   9578.0
17811    2933  21232.0
17812    2933  21293.0
17813    2934  21181.0

[17814 rows x 2 columns]

In [41]:
# Join back to the lines on line_i; we use reset_index() to 
# give us the ordinal position of each line
tmp = tmp.join(lines.reset_index(drop=True), on="line_i")
# Join back to the original points to get their geometry
# rename the point geometry as "point"
tmp = tmp.join(points.geometry.rename("point"), on="pt_idx")
# Convert back to a GeoDataFrame, so we can do spatial ops
tmp = gpd.GeoDataFrame(tmp, geometry="geometry", crs=points.crs)

In [43]:
tmp["snap_dist"] = tmp.geometry.distance(gpd.GeoSeries(tmp.point))

ipykernel_launcher:1: UserWarning: Geometry is in a geographic CRS. Results from 'distance' are likely incorrect. Use 'GeoSeries.to_crs()' to re-project geometries to a projected CRS before this operation.

In [47]:
tolerance = 0.1 # 10km
# Discard any lines that are greater than tolerance from points
tmp = tmp.loc[tmp.snap_dist <= tolerance]
# Sort on ascending snap distance, so that closest goes to top
tmp = tmp.sort_values(by=["snap_dist"])

In [49]:
# group by the index of the points and take the first, which is the
# closest line 
closest = tmp.groupby("pt_idx").first()
# construct a GeoDataFrame of the closest lines
closest = gpd.GeoDataFrame(closest, geometry="geometry")

In [52]:
# Position of nearest point from start of the line
pos = closest.geometry.project(gpd.GeoSeries(closest.point))
# Get new point location geometry
new_pts = closest.geometry.interpolate(pos)

In [64]:
#Identify the columns we want to copy from the closest line to the point, such as a line ID.
line_columns = 'line_i'
# Create a new GeoDataFrame from the columns from the closest line and new point geometries (which will be called "geometries")
snapped = gpd.GeoDataFrame(
closest[line_columns],geometry=new_pts)

# Join back to the original points:
updated_points = points.drop(columns=["geometry"]).join(snapped)
# You may want to drop any that didn't snap, if so:
updated_points = updated_points.dropna(subset=["geometry"])

In [66]:
updated_points.to_file('./updates_points.geojson', driver="GeoJSON")  # Generate GeoJson

# Map

In [72]:
ax = geoplot.polyplot(nigeriaplot ,edgecolor='grey', alpha = 0.5, figsize=(20, 20))

points.loc[points['Country'] == 'nigeria'].plot(figsize=(20, 20),markersize=10, color='orange',alpha = 0.3, ax=ax)
updated_points.loc[updated_points['Country'] == 'nigeria'].plot(figsize=(20, 20),markersize=10, color='green',alpha = 0.3, ax=ax)
generators.loc[generators['Country'] == 'nigeria'].plot(figsize=(20, 20),markersize=25, color='blue',alpha = 0.3, ax=ax)
lines.loc[lines['Country'] == 'nigeria'].plot(figsize=(20, 20),markersize=25, color='red',alpha = 0.3, ax=ax)


#plt.savefig('africa_transmission_and substations_110.png')